<h1>Search for flights:</h1>
<%= form_with url: "/flights", method: :get do |form| %>
    <%= form.label :dep, "From:" %>
    <%= form.collection_select :dep, Airport.order(:name), :code, :name %>
    <%= form.label :arr, "To:" %>
    <%= form.collection_select :arr, Airport.order(:name), :code, :name %>
    <%= form.label :amount, "Ticket amount:" %>
    <%= form.number_field :amount, value: 1 %>
    <%= form.label :day %>
    <%= form.select :day, @departures %>
    <%= form.submit "Filter" %>
<% end %>
<h1>Available flights:</h1>
<ul>
    <% @flights.first(10).each do |flight| %>
        <li>
            From: <%= flight.departure_airport.name %><br>
            To: <%= flight.arrival_airport.name %><br>
            Departure: <%= flight.departure %>
        </li>
    <% end %>
</ul>
