<h1>Book your flight here! </h1>

<h2>Your flight information:</h2>
<ul>
    <li>From: <%= @booking.flight.departure_airport.name %></li>
    <li>To: <%= @booking.flight.arrival_airport.name %></li>
    <li>Departure: <%= @booking.flight.departure %></li>
    <li>Duration: <%= @booking.flight.duration %></li>
</ul>
<%= form_with url: "/bookings/new", method: :get do | form | %>
    <%= form.hidden_field :flight, value: @booking.flight.id %>
    <%= form.label :amount, "Number of passengers:" %>
    <%= form.number_field :amount, value: params[:amount] %>
    <%= form.submit "Update amount" %>
<% end %>
<%= form_with model: @booking do | form | %>
    <%= form.hidden_field :flight, value: @booking.flight.id %>
    <%= form.fields_for :passengers do | passengers_form | %>
        <ul>
            <li class="passenger_card">
                <%= passengers_form.label :name %>
                <%= passengers_form.text_field :name %>
                <%= passengers_form.label :email %>
                <%= passengers_form.text_field :email %>
            </li>
        </ul>
    <% end %>
    <%= form.submit %>
<% end %>