<h1>Book your flight here! </h1>

<h2>Your flight information:</h2>
<ul>
    <li>From: <%= @booking.flight.departure_airport.name %></li>
    <li>To: <%= @booking.flight.arrival_airport.name %></li>
    <li>Departure: <%= @booking.flight.departure %></li>
    <li>Duration: <%= @booking.flight.duration %></li>
</ul>
<%= form_with url: "/bookings/new", method: :get do |form | %>
    <%= form.hidden_field :flight, value: @booking.flight.id %>
    <%= form.label :amount, "Number of passengers:" %>
    <%= form.number_field :amount, value: params[:amount] %>
    <%= form.submit "Update amount" %>
<% end %>